/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;	
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption{
	color:#fff;
	z-index:8;	
	overflow: hidden;
	display: none;
	background-color: #3b3939;
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNCcgaGVpZ2h0PSc0Jz4KICA8bGluZSB4MT0nMjAlJyB5MT0nMjAlJyB4Mj0nODAlJyB5Mj0nODAlJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZT0nIzQ3NDc0NycvPgogIDxsaW5lIHgxPSc4MCUnIHkxPScyMCUnIHgyPScyMCUnIHkyPSc4MCUnIHN0cm9rZS13aWR0aD0nMScgc3Ryb2tlPScjMzMzMzMzJy8+ICAKPC9zdmc+');
	margin: 0 auto;
	padding: 10px 5%;
}
.nivo-caption .nivo-html-caption-content{
	float: left;
	max-width: 70%;
}
.nivo-caption h3 {
	color: #fff;
	padding: 10px;
	margin:0;
	font-size: 1.6em;
	font-weight: bold;
	text-shadow: 1px 1px #000;
	-moz-box-sizing: none;
}
.nivo-caption p {
	color: #fff;
	padding: 10px;
	margin:0;
	font-size: 1.1em;
	font-weight: bold;
	text-shadow: 1px 1px #000;
	-moz-box-sizing: none;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
#fp_cta_button{
	float: right;
	margin-top: 20px;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	/* position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer; */
	display: none;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	/* text-align:center;
	padding: 15px 0; */
	display: none;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*  IPAD */
@media screen and (max-width: 1024px) {
	.nivo-caption h3 {
		font-size: 1.4em;
	}
	.nivo-caption p {
		font-size: 1em;
	}
}

/*  MOBILE */
@media
only screen
and (max-width: 767px) {
	.nivo-caption .nivo-html-caption-content{
		float: none;
		max-width: 100%;
	}
	#fp_cta_button{
		float: none;
		margin: 20px auto;
	}
}